<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="prefetch" href="https://use.fontawesome.com/releases/v5.8.1/webfonts/fa-solid-900.woff2">

<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron text-center">
        <h1>SNS Discord Formatter</h1>
        <p>Currently only Twitter images are supported</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <h3>Input:</h3>
      <div class="form-group">
        <label for="link" class="d-block">Url:</label>
        <input type="text" id="link" class="form-control" [(ngModel)]="linkInput" (ngModelChange)="linkInputUpdate($event)">
        <hr>
        <label for="formatCreditScreenName">
          <input type="checkbox" id="formatCreditScreenName" [(ngModel)]="formatCreditScreenName">
          Format: Credit screen name (@name) instead of user name (nickname)
        </label>
        <label for="formatCreditSiteOverText">
          <input type="checkbox" id="formatCreditSiteOverText" [(ngModel)]="formatCreditSiteOverText">
          Format: Credit the site (e.g. Twitter) instead of using the status text
        </label>
        <label for="formatStripTags">
          <input type="checkbox" id="formatStripTags" [(ngModel)]="formatStripTags">
          Format: Strip any hash tags and mentions
        </label>
        <label for="attemptTranslation">
          <input type="checkbox" id="attemptTranslation" [(ngModel)]="attemptTranslation">
          Experimental: Attempt to translate / romanize the tweet text
        </label>
        <label for="useMachineTranslationOverHandbuilt">
          <input type="checkbox" id="useMachineTranslationOverHandbuilt" [(ngModel)]="useMachineTranslationOverHandbuilt">
          Experimental: Use machine translation over hand-crafted translation (implies strip tags and mentions)
        </label>
      </div>
    </div>
    <div class="col-7">
      <h3>Output:</h3>
      <div *ngIf="inProgress"><i class="fas fa-spinner fa-spin fa-lg"></i></div>
      <pre id="output-container" *ngIf="!notRecognized && !truncated"><code>{{ output }}</code></pre>
      <button type="button" class="btn btn-light" (click)="copy()">Copy</button>
      <ngb-alert [dismissible]="false" type="warning" *ngIf="notRecognized">
        <strong>Not recognized</strong> The URL you provided has not been recognized.
      </ngb-alert>
      <ngb-alert [dismissible]="false" type="warning" *ngIf="truncated">
        <strong>Truncated tweet</strong> This tweet has more complex data and is not supportet yet.
      </ngb-alert>
      <div id="output-error"></div>
    </div>
  </div>
</div>

